<p id="notice"><%= notice %></p>

<dl class="row">
  <dt class="col-sm-3">ID:</dt>
  <dd class="col-sm-9"><%= @link.id %></dd>
  <dt class="col-sm-3">Short url</dt>
  <dd class="col-sm-9"><%= link_to @link.display_slug, @link.display_slug, target: '_blank' %></dd>
  <dt class="col-sm-3">Full url</dt>
  <dd class="col-sm-9"><%= link_to @link.full_url, @link.full_url %></dd>
  <dt class="col-sm-3">Clicks</dt>
  <dd class="col-sm-9"><h5><%= @link.clicks %></h5></dd>
  <dt class="col-sm-3">Created </dt>
  <dd class="col-sm-9"><span class="time"><%= time_ago_in_words(@link.created_at) %> ago</span></dd>
</dl>

<%= link_to 'Back', root_path %>
